* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Geist', sans-serif;
}

body {
  margin: 0;
  padding-bottom: 3rem;
  background-color: #212121;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100vh;
  padding-bottom: 20px;
}

/* Message + Room Input */

.input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Message Input */

.message-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#message-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 25px;
  width: 40%;
  height: 40px;
  background-color: #303030;
  color: white;
  border: solid 1px gray;
}

#message-input:focus {
  outline: none;
}

#message-input:disabled {
  opacity: 0.5;
}

.submit-message-button {
  padding: 10px;
  font-size: 13px;
  border-radius: 25px;
  background-color: transparent;
  color: white;
  border: none;
  font-weight: 400;
  text-decoration: underline;
}

.submit-message-button:hover {
  cursor: pointer;
  opacity: 0.9;
}

/* Messages List */

#messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 20px;
  gap: 20px;
  color: white;
  margin-bottom: 20px;
}

/* Room Input */

.room-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#room-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 13px;
  border-radius: 25px;
  width: 10%;
  height: auto;
  background-color: #303030;
  color: white;
  border: solid 1px gray;
  font-weight: 400;
}

.join-room-button,
.leave-room-button {
  padding: 10px;
  font-size: 13px;
  border-radius: 25px;
  background-color: transparent;
  color: white;
  border: none;
  font-weight: 400;
  text-decoration: underline;
}

.join-room-button:hover,
.leave-room-button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.connected-room {
  font-size: 13px;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}
