* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Geist', sans-serif;
}

body {
  margin: 0;
  background-color: #212121;
}

.main-container {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}

/* CHAT WINDOW PLACEHOLDER */

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

.hero-text {
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.chat-icon {
  height: 90px;
  width: auto;
}

/* SIDEBAR */

.sidebar-container {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  max-width: 350px;
  height: 100vh;
  overflow: hidden;
}

.sidebar-container:hover {
  overflow-y: auto;
}

/* Create group button */

.create-group-button-container {
  padding: 20px 10px 10px 10px;
}

.create-group-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 13px;
  font-weight: 500;
  background-color: #1db954;
  border-radius: 25px;
  width: 100%;
  height: 35px;
  color: white;
  border: none;
  flex-grow: 1;
}

.create-group-button:hover {
  cursor: pointer;
  opacity: 0.9;
}

/* Chat Search */

.chat-search-input-container {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
}

#chat-search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 13px;
  border-radius: 25px;
  height: auto;
  background-color: #303030;
  color: white;
  border: solid 1px gray;
  font-weight: 400;
  flex-grow: 1;
}

/* Chat List */

.chat-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-bottom: 80px;
  overflow-y: auto;
}

.chat-item-container {
  padding: 5px;
}

.chat-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.chat-item:hover {
  cursor: pointer;
  background-color: #2f2f2f;
}

.chat-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
  flex-shrink: 0;
}

.chat-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 10px;
}

.chat-name-and-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.chat-name {
  margin: 0;
  font-size: 14px;
  color: white;
}

.chat-metadata-container {
  display: flex;
  justify-content: space-between;
}

.chat-last-message {
  max-width: 215px;
  font-size: 14px;
  color: #888;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-utilities {
  display: flex;
  align-items: flex-end;
}

.chat-time {
  font-size: 14px;
  color: white;
  white-space: nowrap;
  flex-shrink: 0;
}

.chat-delete-button {
  background-color: transparent;
  border: none;
  color: red;
  margin-top: 5px;
}

.chat-delete-button:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.9;
}

.chat-list-empty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.chat-list-empty-message {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: white;
  margin-top: 10px;
}

.chat-list-empty-subtext {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: white;
  margin-top: 10px;
  max-width: 300px;
}

.time-and-notification-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.active {
  background-color: #343434;
}

.unread-message-alert {
  width: 15px;
  height: 15px;
  background-color: #1db954;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add Chat Input */

.username-form-container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(75, 73, 73);
  padding-bottom: 20px;
}

.username-input-container {
  display: flex;
  justify-content: center;
  padding: 10px 10px 0px 10px;
  min-width: 350px;
  max-width: 350px;
  background-color: #212121;
}

#username-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 13px;
  border-radius: 25px;
  height: auto;
  background-color: #303030;
  color: white;
  border: solid 1px gray;
  font-weight: 400;
  flex-grow: 1;
}

.start-chat-button,
.logout-button {
  font-size: 13px;
  border-radius: 25px;
  background-color: transparent;
  color: white;
  border: none;
  font-weight: 400;
  text-decoration: underline;
}

.start-chat-button:hover,
.logout-button:hover {
  cursor: pointer;
  opacity: 0.9;
}

/* CHAT WINDOW */

.chat-window-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  border-left: 1px solid rgb(75, 73, 73);
  overflow-y: hidden;
}

/* Contact Header */

.contact-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-bottom: 10px;
  width: 100%;
}

.contact-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 20px 20px 20px;
  width: 100%;
  gap: 10px;
  color: white;
  background-color: #212121;
  border-bottom: 1px solid rgb(75, 73, 73);
}

.picture-and-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.recipient-username {
  font-weight: 600;
}

.recipient-username:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Messages List */

.chat-view-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chat-content-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.messages-container {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

#messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 15px;
  list-style-type: none;
  color: white;
  padding-top: 70px;
  margin-top: auto;
}

.message-form-container {
  padding: 20px;
  background-color: #212121;
  border-top: 1px solid rgb(75, 73, 73);
}

.message-container {
  display: flex;
  flex-direction: column;
}

.message-metadata {
  display: flex;
  align-items: center;
  gap: 5px;
}

.message-from {
  font-size: 14px;
  font-weight: 600;
}

.message-time {
  font-size: 12px;
  color: #888;
}

.message-content {
  font-size: 14px;
  max-width: 1000px;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Message Input */

.message-input-container {
  display: flex;
  padding: 0;
}

#message-input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 25px;
  width: 100%;
  height: 35px;
  background-color: #303030;
  color: white;
  border: solid 1px gray;
}

#message-input:focus {
  outline: none;
}

.submit-message-button {
  padding: 10px;
  font-size: 13px;
  border-radius: 25px;
  background-color: transparent;
  color: white;
  border: none;
  font-weight: 400;
  text-decoration: underline;
  flex-shrink: 0;
}

.submit-message-button:hover {
  cursor: pointer;
  opacity: 0.9;
}

/* USER INFORMATION */

.account-info-container {
  display: flex;
}

.account-username {
  font-size: 13px;
  color: white;
}

.user-controls {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 10px;
  padding-bottom: 0px;
  gap: 5px;
}

/* ERROR MESSAGE */

.error-message {
  font-size: 14px;
  color: red;
  text-decoration: underline;
  text-align: center;
}

/* SCROLL BAR */

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* CREATE GROUP CHAT MODAL */

.create-group-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-group-modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #212121;
  padding: 24px;
  border-radius: 16px;
  max-width: 500px;
  width: 100%;
  color: white;
}

.create-group-modal-heading {
  font-size: 20px;
  font-weight: 600;
}

/* Group name input */

.set-group-name-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 13px;
  border-radius: 25px;
  width: 100%;
  height: 35px;
  background-color: #303030;
  color: white;
  border: solid 1px gray;
  font-weight: 400;
  flex-grow: 1;
}

/* Add members section */

.add-group-members-heading {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.input-button-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.add-group-members-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 13px;
  border-radius: 25px;
  width: 100%;
  height: 35px;
  background-color: #303030;
  color: white;
  border: solid 1px gray;
  font-weight: 400;
  flex-grow: 1;
}

.add-member-button {
  position: absolute;
  right: 5px;
  padding: 5px 10px;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 25px;
}

.add-member-button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.added-group-members-heading {
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
}

.added-group-members-container {
  display: flex;
  flex-direction: column;
}

.added-group-member {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.remove-group-member-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  border-radius: 25px;
  color: red;
  border: none;
}

.remove-group-member-button:hover {
  cursor: pointer;
  opacity: 0.9;
  text-decoration: underline;
}

/* Create group and close modal buttons */

.action-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.submit-new-group-button,
.close-create-group-modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 13px;
  font-weight: 400;
  border-radius: 25px;
  height: 35px;
}

.submit-new-group-button {
  background-color: #1db954;
  color: white;
  border: none;
  width: 300px;
}

.close-create-group-modal-button {
  background-color: #303030;
  color: white;
  border: solid 1px gray;
  width: 150px;
}

.submit-new-group-button:hover,
.close-create-group-modal-button:hover {
  cursor: pointer;
  opacity: 0.9;
}

/* CONTACT INFO MODAL */

.contact-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #212121;
  padding: 24px;
  border-radius: 16px;
  max-width: 500px;
  width: 100%;
  color: white;
}

.contact-modal-heading {
  font-size: 20px;
  font-weight: 600;
}

.blocked-status {
  font-size: 14px;
  font-weight: 500;
  margin-top: -15px;
  color: red;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.block-user-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  padding: 5px;
  width: 40%;
  height: 35px;
  color: white;
  border-radius: 25px;
  background-color: red;
  border: none;
}

.block-user-button:hover,
.close-contact-info-modal-button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.close-contact-info-modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 13px;
  font-weight: 400;
  border-radius: 25px;
  height: 25px;
  background-color: #303030;
  color: white;
  border: solid 1px gray;
  width: 80px;
}
